@import url("https://fonts.googleapis.com/css2?family=Megrim&family=Oxygen&family=Bungee&family=Dancing+Script&display=swap");
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #141420;
  min-height: 100%;
}

.App {
  font-family: "Oxygen", sans-serif;
  text-align: center;
}

.nav {
  background: #263238 ;
  min-height: 56px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.searchField{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchField input {
  height: 30px;
  width: 70%;
  padding: 5px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border: none;
  font-size: 16px;
  box-sizing: border-box;
}
.search-container {
  
  width: 80% ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo{
  height: 50px;
  left: 0%;
  
}
.search-results {
  position: absolute;
  background: #000;
  top:10% ;
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 100;
  padding: 30px;
  max-width: 300px;
}
.search-result .movie-info {
 font-size:1rem ;

}
.search-result button {
  margin: 20px 10px;
  background: #141420;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 4px;
}
.search-result {
  display: flex;
  background-color: white;
  width: 100%;
  padding: 10px;
  max-width: 200px;
  border-radius: 3px;
  flex-direction: column;

}
 .search-container .content{
  font-size: 0.8rem;
}

.search-result img {
  height: 150px;
}


.search-container input:focus,
.search-container button:focus,
.footer button:focus,
.search-result .movie-info button:focus {
  outline: none;
}
.search-container button:hover,
.footer button:hover,
.search-result .movie-info button:hover {
  cursor: pointer;
}
#search-btn {
  background: #e1e1e1;
  height: 32px;
  color: #000;
  border: none;
  font-size: 15px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
}
.main {
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
  box-sizing: border-box;
}
.main .tabs {
  display: flex;
  font-size: 20px;
  width: 70%;
  display: flex;
  justify-content: left;
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-bottom: 2px solid gray;
}
.main .tabs .tab {
  background: #263238;
  color: #fff;
  width: 120px;
  padding: 5px;
  margin-right: 20px;
  border-start-start-radius: 5px;
  border: 0.5px solid #e1e1e1;
}
.active-tabs {
  
  background: #e1e1e1 !important;
  color: black !important;
}
.main .tabs .tab:hover {
 background-color:  #e1e1e1 !important;
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  
}
.movie-card {
  background: #fff;
  border: none;
  max-width: 400px;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #f1f1f1;
  display: flex;
  flex-direction: column;
  padding: 10px;
   margin-bottom: 20px;
}
.content{
  display: flex;
   flex-direction: row;
  width: 100%;
}

.movie-card:last-child {
  margin-bottom: 50px;
}
.movie-card .content .left {
  width: 50%;
}
.movie-card .content .left img {
  width: 100%;
}
.movie-card .content .right {
  position: relative;
  padding: 10px;
  display: flex ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
   width: 50%;
}
.movie-card .right .title {
 
  font-size: 1rem;
  font-weight: 600;
}
.movie-card .plot {
  margin-top: 20px;
}
.footer {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.footer .rating {
  font-size: 20px;
  font-weight: 600;
}
.footer button {
  font-size: 15px;
  padding: 7px 10px;
  text-shadow: none;
  border-radius: 3px;
  border: none;
  font-weight: 600;
}
.favourite-btn {
  background-color: #141420;
  color: #fff;
}
.unfavourite-btn {
  background-color: #db2828;
  color: #fff;
  text-shadow: none;
}
.no-movies {
  padding: 20px 0;
  font-size: 20px;
  color: #6d6d6d;
}



  @media screen and (max-width: 630px) {
   
   .search-result {  
  display: flex;
  flex-direction: column;
  width: 100px;
  }

  .search-results{
    top: 15%
  }
  }

    @media screen and (max-width: 500px) {
   
   .nav {  
  display: flex;
  flex-direction: column;
  }
  .logo{
    height: 50px;
    margin-bottom: 5px;
  }
  .tabs{
    flex-direction: column;
  }

  }

  /* @media screen and (max-width: 450px) {
    font-size: 2rem;
  } */
